# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
.env
.venv
env/
ENV/
data/raw/*
data/processed/*
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
